/* Shop styles */
.shopTitle {
  margin-top: 50px;
  text-align: center;
  font-size: 36px;
}

.products {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  justify-items: center;
}

.product {
  border-radius: 15px;
  width: 100%;
  max-width: 300px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.product img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 15px;
}

.product .description {
  text-align: center;
  font-size: 14px;
  margin-top: 10px;
}

.addToCartBttn {
  background-color: transparent;
  border: 2px solid rgb(19, 19, 19);
  padding: 8px 15px;
  border-radius: 15px;
  margin-top: 10px;
  cursor: pointer;
}

.addToCartBttn:hover {
  background-color: rgb(19, 19, 19);
  color: white;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  .product {
    max-width: 100%; /* Adjust product width for smaller screens */
    margin: 20px 10px; /* Adjust margin for better spacing */
  }

  .product img {
    height: 150px; /* Adjust image height for smaller screens */
  }

  .product .description {
    font-size: 12px; /* Adjust font size for smaller screens */
  }

  .addToCartBttn {
    padding: 6px 12px; /* Adjust button padding for smaller screens */
    font-size: 12px; /* Adjust font size for smaller screens */
  }
}
