/* Navbar styles */
.navbar {
  width: 100%;
  height: 80px;
  background-color: rgb(19, 19, 19);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.menu-toggle {
  display: none; /* Initially hide toggle on larger screens */
  cursor: pointer;
}

/* Hamburger icon styles */
.hamburger {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 3px 0;
  transition: transform 0.3s ease-in-out;
}

/* Show toggle menu when the show class is added */
.links {
  display: flex;
  align-items: center;
}

.links a {
  text-decoration: none;
  color: white;
  margin-left: 20px;
  font-size: 18px;
}

.cart-link {
  position: relative;
  display: inline-block;
}

.cart-count {
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: #ff4c4c;
  color: #fff;
  border-radius: 50%;
  padding: 4px 8px;
  font-size: 14px;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  .menu-toggle {
    display: block; /* Show toggle button on smaller screens */
    margin-right: 10px;
  }

  .links {
    display: none; /* Initially hide links on smaller screens */
    flex-direction: column;
    position: absolute;
    top: 80px;
    right: 0;
    background-color: rgb(19, 19, 19);
    width: 100%;
    padding: 10px 0;
    transition: height 0.3s ease-in-out;
    z-index: 1;
  }

  .links.show {
    height: 200px; /* Adjust height as needed */
  }

  .links a {
    margin: 10px 0;
    font-size: 16px;
  }
}
